bin/
output
**/*.coverprofile
**/coverage.out
**/coverage.txt
**/*.log

*.iml
.idea/
**/*junit.xml
**/*crt
**/*.exe
**/*_build
**/*.tgz
vendor/**
!vendor/manifest

**/conf/servicecomb-kie/
release
!etc/conf/
etc/data/
etc/ssl/
tmp/
glide.lock
go.sum
